---
layout: default
title: "Inicio"
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="recipe-post">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
          <div class="post-meta-container">
            <span class="post-meta post-author">{{ post.author | escape }}</span>
            <span class="post-meta post-separator"> • </span>
            <span class="post-meta post-date post-date-full">{{ post.date | date: "%B %-d, %Y" }}</span>
            <span class="post-meta post-date post-date-short">{{ post.date | date: "%B %-d" }}</span>
          </div>
          <div class="post-tags">
            {% for tag in post.tags limit:2 %}
              <span class="post-tag">{{ tag }}</span>
            {% endfor %}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
